services:
  megasync:
    build:
      context: src
    container_name: megasync
    environment:
      UID: 126473
      GID: 126473
      USERNAME: xxx
      PASSWORD: xxx
      FIX_CONF: "true"
      FIX_DATA: "true"
      ENABLE_FILE: .megasync-enable
    volumes:
      - ./config/:/config
      - /mnt/backup/Mega/:/data
    network_mode: bridge
    restart: unless-stopped
